@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To Tracers Cafe Loyalty Scheme</h1>
        <button type="button" asp-area="" asp-controller="Home" asp-action="Privacy"> Display All Customers</button>
        <button type="button" asp-area="" asp-controller="Home" asp-action="Privacy"> Add New Customer</button>
    </div>
