@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To Tracers Cafe Loyalty Scheme</h1>
        <a class="navbar-brand" asp-area="" asp-controller="Customer" asp-action="Index">Display All Customers</a>
        <a class="navbar-brand" asp-area="" asp-controller="Customer" asp-action="Create"> Add New Customer</a>
</div>
